html {
    width: 100% !important;
    height: 100% !important;
}

body {
    background-image: url("https://cerberos.dev/svg/under-construction.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li a {
    font-size: 20px;
    color: green;
}